--- 
---
@import "{{ site.theme }}";
#footer_wrap {display: none;}
forkme_banner {display: none;}
#downloads {display: none;}

#home_link { text-decoration: none; }
#home_link:visited { text-decoration: none; }
#home_link:hover { text-decoration: none; }
#home_link:active { text-decoration: none; }
