--- 
---
@import "{{ site.theme }}";
#footer_wrap {display: none;}
forkme_banner {display: none;}
#downloads {display: none;}
home_link {
    a:link { text-decoration: none; }
    a:visited { text-decoration: none; }
    a:hover { text-decoration: none; }
    a:active { text-decoration: none; }
}
